<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Pwd=;Connect Timeout=15"/>
  </connectionStrings>
  <appSettings>
    <add key="BackupPath" value="\\\Backup\"/>
  </appSettings>
</configuration>