<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HRConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Pwd=;Connect Timeout=15"/>
    <add name="SMSDBConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Pwd=;Connect Timeout=15;"/>
    <add name="SMS_DATAConnectionString" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=;"/>
  </connectionStrings>
</configuration>