<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>api.icql.work</title>
    <style>
        @media screen and (min-width:965px) {
        #content{margin: 50px auto;width: 200px}
        div {font-size:1.1vw;}
        }

        @media screen and (max-width:965px) and (min-width:445px) {
        #content{margin: 80px auto;width: 50%}
        div {font-size:5vw;}
        }

        @media screen and (max-width:445px) {
        #content{margin: 100px auto;width: 50%}
        div {font-size:6vw;}
        }
    </style>
</head>
<body>

<div id="content">
    <div>index</div>
    <div>——<a href="/user" target="_blank">user</a></div>
    <div>——<a href="/bookmark" target="_blank">bookmark</a></div>
    <div>——<a href="/vip" target="_blank">vip</a></div>
    <div>——<a href="/pdf" target="_blank">pdf</a></div>
    <div>——<a href="/frp" target="_blank">frp</a></div>
    <div>——<a href="/javaide" target="_blank">javaide</a></div>
</div>

</body>
</html>