<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NewEnergyConnectionString" connectionString="server=mc;user id=dpack;password=erp2008;"/>
  </connectionStrings>

  <appSettings>
    <add key="Log4Net" value="Log4Net.config" />
    <add key="SSOUserName" value="test001"/>
    <add key="SSOPassword" value="test919"/>
    <add key="SSOTelephone" value="18965856750,18965856733,18965856785,18030088969,18965855625,18965856980"/>
    <add key="AdUserPath" value="D:\\user.csv"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileServiceSoap"/>
        <binding name="CommonWebServiceSoap11Binding"/>
        <binding name="WorkflowServiceSoap11Binding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://file.xmjl.com/FileService.asmx" binding="basicHttpBinding" bindingConfiguration="FileServiceSoap" contract="FileService.FileServiceSoap" name="FileServiceSoap"/>
      <endpoint address="http://172.16.10.135:9763/services/CommonWebService.CommonWebServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="CommonWebServiceSoap11Binding" contract="EKPService.CommonWebServicePortType" name="CommonWebServiceHttpSoap11Endpoint"/>
      <endpoint address="http://172.16.10.135:9763/services/WorkflowService.WorkflowServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="WorkflowServiceSoap11Binding" contract="EKPWorkFlowService.WorkflowServicePortType" name="WorkflowServiceHttpSoap11Endpoint"/>
    </client>
  </system.serviceModel>
</configuration>