<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gitRepoPath" value="E:\Workspace\Git\icql.work"/>
    <add key="sourceDir" value="E:\Workspace\Git\Projects\BlogCode\public"/>
    <add key="destDir" value="E:\Workspace\Git\icql.work\blog"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
